
    .rounded-icon {
      display: inline-block;
      padding: 6px;
      border-radius: 50%;
      background-color: white;
      color: black;
      border: 2px solid yellow;
      animation: rotate 1s linear infinite; 
    }
  
    @keyframes rotate {
      from {
        transform: rotate(60deg);
      }
      to {
        transform: rotate(15deg);
      }
    }


    
    .hire-me-section {
      opacity: 0;
      transform: translateX(100px);
      transition: opacity 1s ease, transform 1s ease;
    }
    
    .hire-me-section.slide-in {
      opacity: 1;
      transform: translateX(0);
    }
    

 
  
  