.footer{
    margin-top: 100px;
}

.footer p a:hover {
  color: #F8CA25; 
  text-decoration: underline;
}

.custom-link-color {
  color:  #6B7588;
  ;
}

.footer .social-icons a:hover {
  color: #F8CA25;
}

.kkk{
  color: whitesmoke;
}